@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Manrope', sans-serif;
}


/*----------------------------------------------------------Images*/
.bg-image-1{
height:100vh;
  background: url("../images/background-1.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display:flex;
  justify-content:center;
  margin:0 auto;
}

.contact-image{
  background: url("../images/contact-image.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display:block;
  justify-content:center;
  margin:0 auto;
}
/*-----------------------------------------------Navigation bar*/


header.container-fluid{
    padding-left:0;
    padding-right:0;
}

.nav-item{
padding:10px;
}

.alert-warning{
text-align:center;
}

/*--------------Services Page----------*/
.service-info{
    padding-top:30px;
    padding-bottom:30px;
}

.card{
    margin:0 auto;
    text-align:center;
}

.footer{
    position:fixed;
    bottom:0;
    color:antiquewhite;
}

.social-links>a{
    float:right;
    padding:3px;
    font-size:25px;
    color:#D8D8D8;
}

.social-links>a:hover{
    color:white;
}

.service-card-div{
    padding-top:20px;
}

.gallery{
    padding-top:30px;
    margin:0 auto;
    background-color:#344966;
    padding-bottom:100px;
}

div.col{
    padding:0;
    text-align:center;
}

blockquote{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding:10px;
}

blockquote.blockquote{
    font-size:1em;
}

.gallery-pic-div{
    padding:0;
}

.quotes-row{
    background-color:#A7D3A6;
}

.page-headings{
    font-weight:700;
    text-transform:uppercase;
    color:white;
    text-align:center;
}

.page-headings h1{
    padding-top:20px;
    padding-bottom:30px;
}

.service-info{
    background-color:#344966;
}

.service-cards{
    padding-bottom:40px;
}

.choose-us{
    background-color:#A7D3A6;
    text-align:center;
    padding-top:30px;
    padding-bottom:150px;
}

.choose-us h3{
    padding-top:20px;
    padding-bottom:20px;
}

.choose-us p{
    padding-left:30px;
    padding-right:30px;
}

.reasons{
    background-color: #A7D3A6;
    padding-bottom:100px;
    text-align:center;
}

.reason i{
    font-size:50px;
    display:block;
    padding-top:20px;
    color:#344966;
}

.gallery{
    background-color:#344966;
    padding-bottom:100px;
}

.jumbotron-container{
    padding-bottom:40px;
}



