@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Manrope', sans-serif;
}

/*----------------------------------------------------------Images*/
.bg-image-1{
height:100vh;
  background: url("../images/background-1.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display:flex;
  align-items:center;
  justify-content:center;
  margin:0 auto;
}

/*-----------------------------------------------Navigation bar*/
header{
    position:absolute;
    top:0;
}

header.container-fluid{
    padding-left:0;
    padding-right:0;
}

ul.navbar-nav.mr-auto{
    position:fixed;
    right:10px;
} 

.nav-item{
padding:10px;
}

.alert-warning{
text-align:center;
}

.service-info{
    padding-top:120px;
}

.card{
    margin:0 auto;
    text-align:center;
}

.maintenance-image>img{
    max-width:300px;
    max-height:300px;
    display:inline-block;
    padding-top:20px;
    padding-right:0;
    padding-left:20px;
    padding-bottom:0px;
}

.social-links>a{
    float:right;
    padding:3px;
    font-size:25px;
    color:#D8D8D8;
}

.social-links>a:hover{
    color:white;
}